$header-font: 'Open Sans', sans-serif;
$primary-font: 'PT Serif', serif;

$primary-color: #c63417;
// #61cdf5 blue
// #c63417 red
$secondary-color: #bababa;

$link-color: $primary-color;
$link-hover-color: #555555;

$nav-color: #ffffff;